<!-- solver_launch.launch -->
<launch>
  <!-- Include the robot_state_publisher launch file -->
  <include file="$(find solver_description)/launch/bringup.launch">
    <arg name="use_sim_time" value="true"/>
  </include>

  <!-- Include the Gazebo launch file -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <!-- Run the spawner node from the gazebo_ros package -->
  <!-- Load the URDF model into the parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find solver_description)/urdf/solver.xacro" />

  <!-- Run the spawn_entity.py script to spawn your robot -->
  <node name="spawn_entity" pkg="solver_description" type="spawn_entity.py" output="screen" />
</launch>
