<?xml version="1.0"?>
<launch>

<node name="ublox_gps_node" pkg="ublox_gps" type="ublox_gps" clear_params="true" output="screen">
  <rosparam command="load" file="$(find ublox_gps)/config/nmea.yaml"/>
  <param name="device" value="/dev/ttyACM0"/>
  <param name="frame_id" value="ublox_frame"/>
</node>

<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
  <param name="output_frame" value="odom"/>
  <param name="base_footprint_frame" value="base_link"/>
  <param name="freq" value="50.0"/>
  <param name="sensor_timeout" value="1.0"/>  
  <param name="odom_used" value="true"/>
  <param name="imu_used" value="true"/>
  <param name="vo_used" value="false"/>

  <remap from="odom" to="odom_raw" />
  <remap from="imu_data" to="imu/data" />
</node>

</launch>

